* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.continer {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgba(221, 221, 221, 0.8666666667);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(65.81deg, #5E3928 -24.09%, #E4A16F 104.02%);
  border-radius: 5px;
}

.header {
  width: 100%;
  transition: all 0.5s;
}

.carousel-item {
  width: 100%;
  height: auto;
}

.carousel__info {
  background-color: transparent;
  bottom: auto;
  top: 200px;
  left: 230px;
  width: 737px;
  text-align: left;
}

.carousel__info img:first-child {
  width: 737px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 50px;
}

.carousel__info h2 {
  width: 533px;
  height: 96px;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 96.4%;
  /* or 48px */
  margin-top: 50px;
  margin-bottom: 40px;
  color: #FFFFFF;
}

.blok {
  width: 326px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blok span:first-child {
  width: 80px;
  height: 29px;
  font-weight: 400;
  font-size: 30px;
  line-height: 96.4%;
  /* identical to box height, or 29px */
  color: #FFFFFF;
}

.blok span:last-child {
  width: 147px;
  height: 29px;
  font-weight: 600;
  font-size: 30px;
  line-height: 96.4%;
  /* identical to box height, or 29px */
  color: #FFFFFF;
}

.sotib-btn {
  width: 327px;
  height: 50px;
  border: none;
  background-image: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 96.4%;
  /* or 17px */
  text-align: center;
  color: #FFFFFF;
}

.sotib-btn:hover {
  background-image: linear-gradient(92.18deg, #E4A16F 20.13%, #5E3928 92.93%);
}

.carousel-indicators {
  width: 59px;
  height: 12px;
  left: -50px;
  bottom: 120px;
  right: auto;
}

.carousel-indicators button {
  width: 12px !important;
  height: 12px !important;
}

.carousel-indicators button.active {
  background-color: #E4A16F !important;
}

.carousel-control-prev span {
  transform: translateX(-100px);
  border: 1px solid white;
  width: 100px;
  height: 50px;
}

.carousel-control-next span {
  transform: translateX(100px);
  border: 1px solid white;
  width: 100px;
  height: 50px;
}

.hero {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 260px 0;
}

.blogs {
  width: 1397px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.blogs__itemblog {
  width: 445px;
  height: 491px;
  position: relative;
  margin-top: 40px;
  box-shadow: 0 0 20px rgba(7, 44, 38, 0);
  overflow: hidden;
}

.blogs__itemblog img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.blogs__itemblog:hover img {
  transform: scale(1.1);
  transition: all 1.2s;
}

.blogs__itemblog:hover .itemblog__hover {
  opacity: 1;
  transition: all 0.5s linear;
}

.blogs__itemblog .text {
  position: absolute;
  width: 100%;
  height: 30%;
  z-index: 122;
  font-weight: 400;
  font-size: 30px;
  line-height: 96.4%;
  /* identical to box height, or 29px */
  text-align: center;
  color: #FFFFFF;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.152);
}

.blogs__itemblog .text h4 {
  margin-bottom: 27px;
}

.itemblog__hover {
  background: linear-gradient(285.45deg, rgba(11, 63, 55, 0.7294117647) 38.27%, rgba(203, 142, 98, 0.5725490196) 141.81%);
  width: 100%;
  height: 100%;
  opacity: 0;
  position: relative;
  transition: all 0.5s linear;
}

.itemblog__hover h4 {
  position: absolute;
  top: 75px;
  left: 36px;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 96.4%;
  /* identical to box height, or 39px */
  text-align: center;
  color: #FFFFFF;
}

.itemblog__hover h3 {
  position: absolute;
  top: 125px;
  right: 36px;
  font-weight: 900;
  font-size: 70px;
  line-height: 96.4%;
  /* or 67px */
  text-align: center;
  color: #FFFFFF;
}

.itemblog__hover h1 {
  position: absolute;
  top: 233px;
  left: 23px;
  font-weight: 900;
  font-size: 100px;
  line-height: 96.4%;
  /* or 96px */
  text-align: center;
  color: #FFFFFF;
}

.hero__2 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 160px;
}

.hero__2 h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 74.9%;
  /* or 37px */
  text-align: center;
  color: #031412;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.hero__2 .body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero__2__items {
  width: 1394px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.body .left {
  width: 80px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 11px;
  padding-right: 20px;
  transition: all 0.8s;
}

.body .left:hover {
  border: none;
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
}

.body .right {
  width: 80px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 11px;
  padding-right: 40px;
  transition: all 1.8s;
}

.body .right:hover {
  border: none;
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
}

.hero__2__items__blog {
  width: 447px;
  height: 561px;
  position: relative;
  overflow: hidden;
}

.hero__2__items button {
  width: 50px;
  height: 63px;
  border: none;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
}

.hero__2__items__blog button i {
  overflow: hidden;
  font-size: 26px;
}

.hero__2__items__blog button i:hover {
  color: red;
}

.hero__2__items button i:focus {
  color: red;
}

.blog__fotter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.blog__fotter p:first-child {
  font-weight: 400;
  font-size: 20px;
  line-height: 96.4%;
  /* or 19px */
  color: #031412;
}

.blog__fotter p:last-child {
  font-weight: 800;
  font-size: 25px;
  line-height: 96.4%;
  /* identical to box height, or 29px */
  color: #031412;
}

.hero__2__fotter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 0px;
}

.hero__2__fotter p {
  width: 56px;
  height: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero__2__fotter p span {
  width: 12px;
  height: 12px;
  background-color: black;
}

.hero__2__fotter p span:first-child {
  background: linear-gradient(65.81deg, #5E3928 -24.09%, #E4A16F 104.02%);
}

.hero__2__fotter button {
  width: 327px;
  height: 50px;
  border: none;
  padding: 16px 70px;
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
  font-size: 18px;
  line-height: 96.4%;
  /* or 17px */
  text-align: center;
  color: #FFFFFF;
}

.comment__line {
  width: 56px;
  height: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.comment__line span {
  width: 12px;
  height: 12px;
  background-color: black;
}

.comment__line span:first-child {
  background: linear-gradient(65.81deg, #5E3928 -24.09%, #E4A16F 104.02%);
}

.hero__3 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 160px;
}

.hero__3 h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 74.9%;
  /* or 37px */
  text-align: center;
  color: #031412;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.hero__3 .body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero__3__items {
  width: 1394px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.body .left {
  width: 80px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 11px;
  padding-right: 20px;
  transition: all 0.8s;
}

.body .left:hover {
  border: none;
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
}

.body .right {
  width: 80px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 11px;
  padding-right: 40px;
  transition: all 1.8s;
}

.body .right:hover {
  border: none;
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
}

.hero__3__items__blog {
  width: 447px;
  height: 561px;
  position: relative;
  overflow: hidden;
}

.hero__3__hade {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
}

.hero__3__hade__salebtn {
  width: 84px;
  height: 36px;
  border: none;
  padding: 9px 18px;
  background: #9B0000;
  font-weight: 900;
  font-size: 20px;
  line-height: 96.4%;
  /* or 19px */
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 20px;
  text-align: left;
}

.hero__3__items button:last-child {
  width: 50px;
  height: 63px;
  border: none;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
}

.hero__3__items__blog button:last-child i {
  overflow: hidden;
  font-size: 26px;
}

.hero__3__items__blog button:last-child i:hover {
  color: red;
}

.last__btn {
  width: 50px;
  height: 63px;
  border: none;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
}

.last__btn {
  overflow: hidden;
  font-size: 26px;
}

.last__btn i:hover {
  color: red;
}

.blog__fotter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.blog__fotter p:first-child {
  font-weight: 400;
  font-size: 20px;
  line-height: 96.4%;
  /* or 19px */
  color: #031412;
}

.blog__fotter p:last-child {
  font-weight: 800;
  font-size: 25px;
  line-height: 96.4%;
  /* identical to box height, or 29px */
  color: #031412;
}

.hero__3__fotter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 0px;
}

.hero__3__fotter p {
  width: 56px;
  height: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero__3__fotter p span {
  width: 12px;
  height: 12px;
  background-color: black;
}

.hero__3__fotter p span:first-child {
  background: linear-gradient(65.81deg, #5E3928 -24.09%, #E4A16F 104.02%);
}

.hero__3__fotter button {
  width: 327px;
  height: 50px;
  border: none;
  padding: 16px 70px;
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
  font-size: 18px;
  line-height: 96.4%;
  /* or 17px */
  text-align: center;
  color: #FFFFFF;
}

.reklama {
  width: 100%;
  height: auto;
  margin-top: 82px;
  position: relative;
}

.reklama img {
  width: 100%;
  height: 100%;
}

.reklama__blog {
  width: 533px;
  height: auto;
  position: absolute;
  left: 261px;
  top: 80px;
}

.reklama_blog__item img {
  width: 492px;
  height: 105px;
}

.reklama_blog__item:nth-child(2) h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 35px;
  line-height: 96.4%;
  /* or 34px */
  color: #FFFFFF;
}

.reklama_blog__item:nth-child(3) button {
  padding: 16px 78px;
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
  border: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 96.4%;
  /* or 17px */
  text-align: center;
  color: #FFFFFF;
}

.comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 160px;
  padding-bottom: 50px;
}

.comment__tex {
  font-weight: 400;
  font-size: 50px;
  line-height: 74.9%;
  /* or 37px */
  text-align: center;
  color: #031412;
}

.comment__body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.comment__body__items {
  width: 1462px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.comment__body__items__blog {
  width: 446px;
  height: auto;
  text-align: left;
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 18px;
}

.comment__body__items__blog h3 {
  margin-top: 12px;
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 25px;
  line-height: 96.4%;
  /* or 24px */
  color: #031412;
}

.comment__body__items__blog p {
  width: 376px;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 134.4%;
  /* or 19px */
  color: #031412;
}

.comment__body__items__blog span {
  font-weight: 800;
  font-size: 14px;
  line-height: 134.4%;
  /* identical to box height, or 19px */
  color: #031412;
  margin-bottom: 18px;
}

.comment__body__left {
  width: 70px;
  height: 50px;
  border: 1px solid #031412;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.comment__body__right {
  width: 70px;
  height: 50px;
  border: 1px solid #031412;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.first__fotter {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first__fotter__tex {
  font-weight: 400;
  font-size: 50px;
  line-height: 74.9%;
  /* or 37px */
  text-align: center;
  color: #031412;
  margin-bottom: 50px;
}

.first__fotter__body {
  width: 1379px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.first__fotter__body__item {
  width: 308px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.first__fotter__body__item__imgblog {
  width: 76px;
  height: 76px;
  background: linear-gradient(278.32deg, #0B3F37 -7.03%, #CB8D62 136.33%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.first__fotter__body__item h3 {
  font-weight: 800;
  font-size: 20px;
  line-height: 96.4%;
  /* or 19px */
  color: #031412;
}

.first__fotter__body__item p {
  width: 308px;
  font-weight: 300;
  font-size: 14px;
  line-height: 134.4%;
  /* or 19px */
  color: #031412;
}

.first__fotter__body__item a {
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 134.4%;
  /* identical to box height, or 19px */
  background: linear-gradient(65.81deg, #5E3928 -24.09%, #E4A16F 104.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.first__fotter__body__item:nth-child(1),
.first__fotter__body__item:nth-child(2),
.first__fotter__body__item:nth-child(3),
.first__fotter__body__item:nth-child(4) {
  margin-bottom: 34px;
}

.first__fotter__body__item:nth-child(5),
.first__fotter__body__item:nth-child(6),
.first__fotter__body__item:nth-child(7),
.first__fotter__body__item:nth-child(8) {
  margin-bottom: 76px;
}

.fotter {
  width: 100%;
  height: auto;
  position: relative;
  background-size: cover;
}

.fotter__bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -10;
}

.fotter__body {
  width: 1322px;
  height: auto;
  margin: auto;
  padding-top: 64px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fotter__body__link {
  width: auto;
}

.fotter__body__link a img {
  width: 175px;
  height: 47px;
}

.fotter__body__link p:nth-child(2) {
  width: 214px;
  height: 38px;
  font-weight: 400;
  font-size: 14px;
  line-height: 134.4%;
  /* or 19px */
  color: #ADADAD;
  margin-top: 24px;
}

.fotter__body__link p:nth-child(3) {
  font-weight: 400;
  font-size: 14px;
  line-height: 134.4%;
  /* identical to box height, or 19px */
  text-decoration-line: underline;
  color: #FFFFFF;
}

.fotter__body__blog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
}

.fotter__body__blog__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.fotter__body__blog__item:nth-child(2) {
  margin-left: 137px;
  margin-right: 91px;
}

.fotter__body__blog__item p {
  font-weight: 800;
  font-size: 18px;
  line-height: 96.4%;
  /* or 17px */
  color: #FFFFFF;
}

.fotter__body__blog__item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 29px;
  /* identical to box height, or 19px */
  color: #FFFFFF;
}

.fotter__body__blog__item a:hover {
  text-decoration: underline;
}

.fotter__body__blog__item__links {
  display: flex;
  flex-direction: row;
}

.fotter__body__blog__item__links a {
  margin-right: 10px;
}

.fotter__body__blog__item__links a i {
  font-size: 18px;
}

.fotter__body__blog__item__links a i:hover {
  background: linear-gradient(65.81deg, #5E3928 -24.09%, #E4A16F 104.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.red {
  color: #9B0000 !important;
}/*# sourceMappingURL=main.css.map */